.clearfix:before,
.clearfix:after{
	display: block;
	content: '';
	clear: both;
	height: 0;
	overflow: hidden;
}
.photos_box_settings img{
	max-width: 100%;
}
.photos_box_settings li{
	display: block;
	float: left;
	padding-right: 15px;
	line-height: 30px;
}
	.photos_box_settings li img{
		vertical-align: middle;
	}
